body {background-color: white;
	color: white;
	text-decoration: none;
	text-align: center;
	font-family: Georgia, serif;
	font-weight: 400;}

h1 {font-size: 50px;
	font-weight: 900;
	letter-spacing: 2px;
	text-shadow: 1px 1px 2px black}

h2 {font-size: 20px;
	font-weight: 700;
	text-shadow: 1px 1px 2px black;
	color: white;
	background-color: #9970BD}

img{border-radius: 50%;
	width: 16%;
	box-shadow: 5px 5px 3px grey}

a {text-decoration: none;
	color: black}
a:hover {color: grey}

div {background: #B99FD4;
	padding: 20px 70px;
	margin: 10px 250px;
	border-radius: 20px;
	box-shadow: 2px 2px 3px purple;
	list-style: none}

@media (max-width: 760px) {div {width: 600px}}
@media (max-width: 500px) {div {width: 400px}}
@media (max-width: 300px) {div {width: 200px}}

.list-inline {list-style: none;
			padding-left: 0px}

.list-inline li{display: inline;
				padding: 25px}

.list-inline i{font-size: 50px}

.img-square {list-style: none;
			padding-left: 0px;
			width: 12%;
			border-radius: 5%;
			display: inline;
			margin: 25px;
			box-shadow: none}

.img-carre {list-style: none;
			padding-left: 0px;
			width: 12%;
			border-radius: 5%;
			display: inline;
			margin: 10px;
			box-shadow: none}